@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --background-gray: #edf2f0;
  --text-gray: #a0a5a8;
  --shadow-gray: #d1d9e6;
  --black: #181818;
  --white: #f9f9f9;
  --blue: #4b70e2;
  --dark-blue: #2d59db;
  --box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow-gray),
    -0.2rem -0.2rem 0.2rem var(--white);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-gray);
}

#root {
  margin-top: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: 0;
  border-radius: 0.2em;
  outline: none;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.navbar {
  padding: 0.8em;
  border-radius: 0.5em;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > span {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 700;
}

.navbar__logo {
  color: var(--black);
  margin-right: 0.5em;
}

.navbar__count {
  display: inline-block;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.3em;
  border-radius: 50%;
  background-color: var(--black);
  color: white;
}

.habits {
  width: 70vw;
  margin: 0;
  padding-top: 1em;
}

.add--form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add--input {
  width: 90%;
  margin-right: 0.5em;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border-style: none;
  background-color: transparent;
  box-shadow: var(--box-shadow);
}

.add--input::placeholder {
  color: var(--text-gray);
}

.add--button {
  height: 100%;
  padding: 0.5em;
  margin: 0;
  font-size: 1.2rem;
  box-shadow: 8rem 8rem 16rem var(--shadow-gray) -8rem -8rem 16rem var(--white);
}

ul {
  margin: 0;
  padding: 1rem;
  height: 50vh;
  border-radius: 1rem;
  overflow: scroll;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.habit {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.habit--items__count {
  display: inline-block;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.8em;
  margin-left: 0.3em;
  margin-right: 0.5em;
  border-radius: 50%;
  color: white;
  background-color: var(--black);
}

.habit--buttons__button {
  margin: 0 0.005em;
  font-size: 1.2em;
  background-color: transparent;
}

.habit--buttons__button:hover {
  opacity: 0.8;
}

.habit--increase,
.habit--decrease {
  color: rgb(48, 47, 47);
}

.habit--delete {
  color: var(--dark-blue);
}

.reset--button {
  padding: 0.2em 1em;
  margin-top: 1.5em;
  font-size: 1.2rem;
  box-shadow: 8rem 8rem 16rem var(--shadow-gray) -8rem -8rem 16rem var(--white);
}
